*, *::after, *::before{
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

.container{
  height: 100vh;
  background-image: url(./../../assets/images/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.heading{
  padding-top: 100px;

  color: #fff;

  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}